{% load static %}
<head>
  	  <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />    
      <meta name="author" content="INSPIRO" />    
      <meta name="description" content="Themeforest Template Polo, html template">
      <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">   
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

      <!-- LOAD JQUERY LIBRARY -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    
    <!-- LOADING FONTS AND ICONS -->
    <link href="http://fonts.googleapis.com/css?family=Raleway%3A800%2C500%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/fonts/font-awesome/css/font-awesome.css' %}">

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
    
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
    
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">
    
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    
    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="{% static 'revolution/js/extensions/additional.carousel.classic.js' %}"></script>
    
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->    
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
    <title> Erfan Huda </title>   
</head>

<body>
  <header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/">
                            <span class="logo-default">Erfan Huda</span>
                            <span class="logo-dark">Erfan Huda</span>
                        </a>
                    </div> 
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <!--<li class="dropdown"><a href="#">Works</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu"><a href="#">Finance & Accounting</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="slider-inspiro-slider.html">IFRS 9 / PSAK 71</a></li>
                                                    <li><a href="slider-inspiro-slider.html">IFRS 6</a></li>
                                                    <li><a href="slider-revolution-slider.html">PPh 21</a></li>
                                                    <li><a href="slider-revolution-slider.html">PPh 23</a></li>
                                                    <li><a href="slider-revolution-slider.html">Macroeconomic</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown-submenu"><a href="#">Mathematics</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="slider-revolution-slider.html">Geometry</a></li>
                                                    <li><a href="slider-inspiro-slider.html">Boolean Algebra</a></li>
                                                    <li><a href="slider-inspiro-slider.html">Basic Statistics: </a></li>
                                                    <li><a href="slider-inspiro-slider.html">ARIMA</a></li>
                                                    <li><a href="slider-inspiro-slider.html">Boolean Algebra</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu"><a href="#">Art & Science</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="slider-revolution-slider.html">Photography</a></li>
                                                    <li><a href="slider-inspiro-slider.html">Product Design</a></li>
                                                    <li><a href="slider-inspiro-slider.html">Woodworking & Furniture</a></li>
                                                </ul>
                                            </li>
                                            
                                            <li class="dropdown-submenu"><a href="#">Programming</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="slider-revolution-slider.html">SQL Oracle</a></li>
                                                    <li><a href="slider-inspiro-slider.html">Django Framework</a></li>
                                                    <li><a href="slider-inspiro-slider.html">HTML</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu"><a href="#">Biochemical</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="slider-revolution-slider.html">Activated Charcoal</a></li>
                                                    <li><a href="slider-inspiro-slider.html">Hydrogen</a></li>
                                                    <li><a href="slider-inspiro-slider.html">Bioplastic</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu"><a href="#">Green Energy</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="slider-revolution-slider.html">Geothermal Energy</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="dropdown"><a href="#">Shop</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu"><span class="dropdown-menu-title-only">Box Kayu</span>
                                                <ul class="dropdown-menu">
                                                    <li><a href="https://www.instagram.com/box_kayu">Instagram</a></li>
                                                    <li><a href="https://www.facebook.com/box_kayu">Facebook</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu"><span class="dropdown-menu-title-only">Algobro</span>
                                                <ul class="dropdown-menu">
                                                    <li><a href="slider-revolution-slider.html">Website</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><li><a href="#">Blog</a></li> !-->
                                    </li><li><a href="/about">About</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--END: NAVIGATION-->
                </div>
            </div>
        </header>
            {% block content %}
            {% endblock %}
    <footer>
    
    <section style="background-color:#032c5a; min-height:60px;">
        <div id="particles-dots" class="particles" style="background: none"></div>
        <div class="container">
            <div class="col-lg-14">
                <div class="text-center">
                    <div class="portfolio-share m-b-10" data-animate="fadeIn" data-animate-delay="1500">
                        <h2 class="text-center text-light" style="font-size:220%; font-family:sans; font-style:italic"><strong style="font-family:arial; font-size:150%"><italic>“</italic>
                      </strong> Live as if you were to die tomorrow. Learn as if you were to live forever.<strong style="font-family:arial; font-size:150%">“</strong> <br> <italic style="font-style:italic;font-family:robotica ">Mahatma Gandhi</italic></h1> 
                      <br>
                        <h4 class="text-light">Connect with author</h4>
                        <div class="align-center">
                            <a class="btn btn-xs btn-light btn-slide" href="https://www.facebook.com/erfanhudaa" target="_blank" data-width="100">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                            <a class="btn btn-xs btn-light btn-slide" href="https://www.twitter.com/erfnhd" target="_blank" data-width="85">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                            <a class="btn btn-xs btn-light btn-slide" href="https://www.instagram.com/erfanhuda" target="_blank" data-width="100">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                            <a class="btn btn-xs btn-light btn-slide" href="https://www.linkedin.com/in/muhammad-erfan-huda-54b01187" target="_blank" data-width="90">
                                <i class="fab fa-linkedin "></i>
                                <span>LinkedIn</span>
                            </a>
                            <a class="btn btn-xs btn-light btn-slide" href="mailto:erfan_huda@rocketmail.com" target="_blank" data-width="70">
                                <i class="icon-mail"></i>
                                <span>Mail</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <div class="copyright-content" style="background-color:#f7f2ee">
            <div class="container">
                <div class="copyright-text text-center">&copy; 2020 Created with <i class="icon-heart"></i> by using <i style="color:#006600">Django</i>
                    and <i style="color:#00cc00">MongoDB.</i>
                    All Rights Reserved.</div>
            </div>
        </div>
    </footer>
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <!--Template functions-->
    <script src="{% static 'js/functions.js' %}"></script>
    <!-- Partical Js files  -->
    <script src="{% static 'plugins/particles/particles.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/particles/particles-dots.js' %}" type="text/javascript"></script>
</body>

<script type="{% static 'tinymce/js/prism.js' %}"></script>