  {% extends "main/header.html" %}
  {% block content %}

    <section id="page-content">
        <div class="container">
          <form method="POST" style="max-width: 50rem;" class="col-lg-10 center p-10 background-white b-r-20">
            <div class="col-lg-14 form-group">
              {% csrf_token %}
              {{ form.as_table }}
              <br>
              Already have an account, <a href="/login">login</a> here please
            </div>
            <button type="submit" class="btn m-t-30 mt-3">Submit</button>
          </form>
        </div>
    </section>

  {% endblock %}